@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main-contianer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aliceblue;
}

.code-editor-container {
  width: 100%;
  margin: 10px;
}

textarea {
  width: 100%;
  min-height: 250px;
  overflow: scroll;
  scrollbar-width: 0px;
  font-family: "Roboto";
  font-size: 18px;
  border-radius: 12px;
}

::placeholder {
  font-family: "Roboto";
  font-size: 13px;
  text-align: center;
}

.editor-heading {
  color: #12022f;
  background-color: #ffffff;
  padding: 10px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 30em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.output-heading {
  color: #12022f;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
}